head {
}

body {
    width: content-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
}

header {
    background-color: #F3F3F3;
    height: 70px;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

button {
    width: 173px;
    height: 30px;
    border: 0;
    font-size: 16px;
}

h5 {
    color: #396105;
}

.first {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 1%;
    top: 4px;
}

.second {
    position: relative;
    padding-top: 0.1%;
    float: left;
    width: fit-content;
    line-height: 5px;
    margin-left: 18%;
}

#czas {
    color: #EB5757;
}


#maszczas {
    color: #396105;
}

.third {
    position: relative;
    float: left;
    padding-left: 5%;
    margin: 0;
    line-height: 0.1px;
    padding-top: 0.2%;
}

#zapoznales {
    color: red;
    text-align: center;
    font-weight: bold;
}

.loading {
    position: absolute;
    height: 21px;
    width: 63%;
    background-color: #DC1C1C;
    border: 1px;
    bottom: 0;
}

.loading-gray {
    position: relative;
    height:20px;
    width: 387px;
    background-color: #C4C4C4;
    margin-top: 1px;
    border: red 1px solid;
}

.fourth {
    position: relative;
    float: left;
    display: flex;
    margin: 1px;
    padding-left: 7.4%;
    padding-top: 0.5%;
}

#przegladaj {
    background-color: #396105;
    color: white;
    float: left;
    margin-right: 10px;
    width: 180px;
    Height: 46px;
    font-family: Font Awesome 5 Free;
}

#glosy {
    background-color: #396105;
    color: white;
    float: left;
    left: 20%;
    margin-left: 10px;
    width: 180px;
    Height: 46px;
    font-weight: bold;
}

.fifth {
    position: relative;
    float: right;
    padding-right: 2%;
    height: 31px;
    display: flex;
    padding-top: 0.2%;
}

#witaj {
    margin-right: 5px;
    font-weight: 400;
}

#wyloguj {
    margin-left: 5px;
    font-weight: 700;
}

.zdecyduj {
    position: relative;
    float: left;
    padding-left: 20%;
    padding-top: 5%;
    width: 32%;
    color: #4F4F4F;
}

.hero-buttons {
    position: relative;
    float: left;
    height: 65px;
    width: 450px;
    border-radius: 0;
    line-height: 10px;
    padding-left: 8%;
    padding-top: 6%;
}
#zgloszenie {
    position: relative;
    height: 72px;
    width: 408px;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #CEAE06;
    color: white;
    font-size: 21px;
}

#glosy2 {
    position: relative;
    height: 72px;
    width: 408px;
    border-radius: 0;
    margin-top: 10px;
    background-color: #CEAE06;
    color: white;
    font-size: 21px;
}

hr.solid {
    border-top: 0;
    border-bottom: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
    position: relative;
    width: 62.5%;
    padding-top: 124px;
}

@-moz-document url-prefix() {
    hr.solid {
        padding-top: 360px;
        right: 1240px;
    }
}


.ostatnie-komentarze {
    position: relative;
    width: 341px;
    height: 43px;
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: #4F4F4F;
    padding-left: 360px;
    padding-top: 20px;
}

.first-line-comments {
    position: relative;
    float: left;
    padding-left: 18%;
}

.komentarz1 {
    float: left;
    margin-right: 0;
    width: 25%;
    display: flex;
}

.komentarz1:hover {
    background-color: rgba(177, 218, 152, 0.2);
    padding-left: 0;
}

.comment-content {
    float: left;
    width: 75%;
}

.first-skrzypczyk-photo {
    height: 90%;
    width: revert;
}

.pszymczuk {
    font-size: 14px;
    width:70%;
}

.w-temacie1 {
    text-transform: uppercase;
    font-size: 10px;
    color: #828282;
    width: 50%;
}

.jacek {
    font-size: 16px;
    color: #396105;
    width: 60%;
    padding-left: 0;
    margin-top: -9px;
}

.text-comment {
    font-size: 14px;
    width: 100%;
    margin-top: -6px;
    color: #4F4F4F
}

.komentarz2 {
    float: left;
    margin-right: 0;
    width: 23%;
    display: flex;
    margin-left: 40px;
}

.komentarz2:hover {
    background-color: rgba(177, 218, 152, 0.2);
    padding-left: 0;
    width: 23%;
}

.komentarz3 {
    float: left;
    margin-right: 0;
    width: 24%;
    display: flex;
    margin-left: 40px;
}

.komentarz3:hover {
    background-color: rgba(177, 218, 152, 0.2);
    padding-left: 0;
}

.second-line-comments {
    position: relative;
    float: left;
    padding-left: 18%;
    padding-top: 1.5%;
}

.third-line-comments {
    position: relative;
    float: left;
    padding-left: 18%;
    padding-top: 1.5%;
}


.footer {
    position: relative;
    clear:both;
    height:100px;
    top: 170px;
    background-color: #363636;
    width: 100%;
}

.copyright {
    color: rgba(255, 255, 255, 0.8);
    float: left;
    position: relative;
    padding-left: 20%;
    padding-top: 1.2%;
}

.footer-logo {
    float: left;
    position: relative;
    padding-left: 9%;
    padding-top: 1%;
}

.jt15-logo {
    float: right;
    position: relative;
    padding-right: 21%;
    top: 35%;
}

@media screen and (max-width: 1704px) {
    .third {
        position: relative;
        float: left;
        padding-left: 30px;
        margin: 0;
        line-height: 0.1px;
        padding-top: 0.2%;
    }

    .fourth {
        position: relative;
        float: left;
        display: flex;
        margin: 1px;
        padding-left: 30px;
        padding-top: 2px;
    }
    #przegladaj {
        background-color: #396105;
        color: white;
        float: left;
        margin-right: 10px;
        width: 150px;
        Height: 46px;
        font-family: Font Awesome 5 Free;
    }

    #glosy {
        background-color: #396105;
        color: white;
        float: left;
        left: 20%;
        margin-left: 10px;
        width: 150px;
        Height: 46px;
        font-weight: bold;
    }

    .ostatnie-komentarze {
        float: unset;
        padding-bottom: 35px;
}
    }

@media screen and (max-width: 1437px) {
    .third {
        position: relative;
        float: left;
        padding-left: 30px;
        margin: 0;
        line-height: 0.1px;
        padding-top: 0.2%;
    }

    #zapoznales {
        color: red;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

    .loading {
        position: absolute;
        height: 21px;
        width: 53%;
        background-color: #DC1C1C;
        border: 1px;
        bottom: 0;
    }

    .loading-gray {
        position: relative;
        height:20px;
        width: 280px;
        background-color: #C4C4C4;
        margin-top: 1px;
        border: red 1px solid;
    }

    .fourth {
        position: relative;
        float: left;
        display: flex;
        margin: 1px;
        padding-left: 30px;
        padding-top: 2px;
    }
    #przegladaj {
        background-color: #396105;
        color: white;
        float: left;
        margin-right: 10px;
        width: 100px;
        Height: 46px;
        font-family: Font Awesome 5 Free;
    }

    #glosy {
        background-color: #396105;
        color: white;
        float: left;
        left: 20%;
        margin-left: 10px;
        width: 100px;
        Height: 46px;
        font-weight: bold;
    }
}

<!-- ver.1.3. -->